{% extends 'dashboard/dashboard_base.html' %}
{% block title %}Create User - AGPKART{% endblock %}
{% block css %}
    <style>
        .header{
            display: flex;
            justify-content: space-between;
        }
    </style>
{% endblock  %}
{% block content %}
<h1 class="mt-4">Create User</h1>
<div class="header">
    <div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/super_admin/dashboard/">Dashboard</a></li>
            <li class="breadcrumb-item active">Create User</li>
        </ol>
    </div>
    <div>
        <a href="/super_admin/user-list/"class="btn btn-primary btn-sm">
            <i class="fas fa-arrow-left me-1"></i>
            User lists
        </a>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Create User
    </div>
    <div class="card-body">
        <form method="post" onsubmit="handleSubmit(event)">
            {% csrf_token %}
            <div class="mb-3">
              <label for="inputUsername" class="form-label">Username</label>
              <input type="text" class="form-control" id="inputUsername" name="username">
              <div id="idusernameError"></div>
            </div>
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="inputEmail" name="email">
                <div id="idEmailError"></div>
            </div>
            <div class="mb-3">
                <label for="inputFirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="inputFirstName" name="first_name">
            </div>
            <div class="mb-3">
                <label for="inputLastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="inputLastName" name="last_name">
            </div>
            <div class="mb-3">
                <label for="inputMobile" class="form-label">Mobile</label>
                <input type="number" class="form-control" id="inputMobile" name="mobile">
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword" name="password">
            </div>
            <div class="mb-3">
                <label for="inputConfirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="inputConfirmPassword" name="confirm_password">
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
function handleSubmit(event){
    event.preventDefault()


    let isFormValid=true;

    let usernameValue = document.getElementById("inputUsername").value.trim();
    let errorUsernameElement = document.getElementById("idusernameError");

    let emailValue = document.getElementById("inputEmail").value.trim();
    let errorEmailElement = document.getElementById("idEmailError");

    errorUsernameElement.textContent="";
    errorEmailElement.textContent="";
    
    fetch('/super_admin/check-username/', {
        method: 'POST', // Specify the method
        body: JSON.stringify({
            username: usernameValue
        })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            if(data.is_exists){
            errorUsernameElement.textContent="This Username is already taken";
            errorUsernameElement.style.color="red";
            }
        })
        .catch(error => {
        console.error('Error:', error);
        });
    if(usernameValue==""){
        errorUsernameElement.textContent="Please enter your username";
        errorUsernameElement.style.color="red";
        isFormValid=false;
    }if(emailValue==""){
        errorEmailElement.textContent="Please enter your email";
        errorEmailElement.style.color="red";
        isFormValid=false;
    }






    
    let form= event.target;
    if(isFormValid){
        form.submit()
    }
}
</script>
{% endblock %}