{% extends 'dashboard/dashboard_base.html' %}
{% block title %}Update User - AGPKART{% endblock %}
{% block css %}
    <style>
        .header{
            display: flex;
            justify-content: space-between;
        }
    </style>
{% endblock  %}
{% block content %}
<h1 class="mt-4">Update User</h1>
<div class="header">
    <div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/super_admin/dashboard/">Dashboard</a></li>
            <li class="breadcrumb-item active">Update User</li>
        </ol>
    </div>
    <div>
        <a href="/super_admin/user-list/"class="btn btn-primary btn-sm">
            <i class="fas fa-arrow-left me-1"></i>
            User List
        </a>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Update User
    </div>
    <div class="card-body">
        <form method="post" onsubmit="handleSubmit(event)">
            {% csrf_token %}
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="inputEmail" name="email" value="{{user.email}}">
                <div id="idEmailError"></div>
            </div>
            <div class="mb-3">
                <label for="inputFirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="inputFirstName" name="first_name" value="{{user.first_name}}">
            </div>
            <div class="mb-3">
                <label for="inputLastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="inputLastName" name="last_name" value"{{user.last_name}}">
            </div>
            <div class="mb-3">
                <label for="inputMobile" class="form-label">Mobile</label>
                <input type="number" class="form-control" id="inputMobile" name="mobile" value="{{user.mobile}}">
            </div>

             <div class="mb-3">
            <label>Gender <span style="color: red;"></span></label>
            <select class="form-select" name="gender" >
                <option value="" selected disabled>Select Gender</option>
                {% for i, j in gender %}
                    <option value="{{ i }}">{{ j }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label>Role <span style="color: red;"></span></label>
            <select class="form-select" name="role" >
                <option value="" selected disabled>Select Role</option>
                {% for i, j in role %}
                    <option value="{{ i }}">{{ j }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label>Department <span style="color: red;"></span></label>
            <input type="text" class="form-control" name="department" >
        </div>

        <div class="mb-3">
            <label>Employee ID <span style="color: red;"></span></label>
            <input type="number" class="form-control" name="employee_id" required value="employee_id">
        </div>
 
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
