{% extends 'dashboard/dashboard_base.html' %}
{% block title %}Create User - AGPKART{% endblock %}
{% block css %}
    <style>
        .header{
            display: flex;
            justify-content: space-between;
        }
    </style>
{% endblock  %}
{% block content %}
<h1 class="mt-4">Create User</h1>
<div class="header">
    <div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/super_admin/dashboard/">Dashboard</a></li>
            <li class="breadcrumb-item active">Create User</li>
        </ol>
    </div>
    <div>
        <a href="/super_admin/user-list/"class="btn btn-primary btn-sm">
            <i class="fas fa-arrow-left me-1"></i>
            User lists
        </a>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Create User
    </div>
    <div class="card-body">
    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label>Email Address <span style="color: red;"></span></label>
            <input type="email" class="form-control" name="email" required>
        </div>

        <div class="mb-3">
            <label>First Name</label>
            <input type="text" class="form-control" name="first_name">
        </div>

        <div class="mb-3">
            <label>Last Name</label>
            <input type="text" class="form-control" name="last_name">
        </div>

        <div class="mb-3">
            <label>User Type <span style="color: red;"></span></label>
            <select class="form-select" name="user_type" required>
                <option value="" selected disabled>Select User Type</option>
                {% for i, j in user_type %}
                    <option value="{{ i }}">{{ j }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label>Phone Number</label>
            <input type="number" class="form-control" name="phone_number" required>
        </div>

        <div class="mb-3">
            <label>Gender <span style="color: red;"></span></label>
            <select class="form-select" name="gender" required>
                <option value="" selected disabled>Select Gender</option>
                {% for i, j in gender %}
                    <option value="{{ i }}">{{ j }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label>Role <span style="color: red;"></span></label>
            <select class="form-select" name="role" required>
                <option value="" selected disabled>Select Role</option>
                {% for i, j in role %}
                    <option value="{{ i }}">{{ j }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label>Department <span style="color: red;"></span></label>
            <input type="text" class="form-control" name="deportment" required>
        </div>

        <div class="mb-3">
            <label>Employee ID <span style="color: red;"></span></label>
            <input type="number" class="form-control" name="employee_id" required>
        </div>

         <div class="mb-3">
            <label>Password <span style="color: red;"></span></label>
            <input type="password" class="form-control" name="password" required>
        </div>

        <div class="mb-3">
            <label>Confirm Password <span style="color: red;"></span></label>
            <input type="password" class="form-control" name="confirm_password" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    </div>
</div>
{% endblock %}

{% block js %}
 <script>
  function handleSubmit(event){

    event.preventDefault()
    let isFormValid=true;
    
    let  firstnamevalue=document.getElementById("exampleInputfirstname1").value.trim();
    let errorFirstnameElement=document.getElementById("idEFirstnameError");
    
    let Lasttnamevalue=document.getElementById("exampleInput1").vLastnamealue.trim();
    let errorLastnameElement=document.getElementById("idLastnameError");

    let Emailvalue=document.getElementById("exampleInputEmail1").value.trim();
    let errorEmailElement=document.getElementById("idLastEmailError");

    let Phone_numbervalue=document.getElementById("exampleInputPhone_number1").value.trim();
    let errorPhone_numberElement=document.getElementById("idPhone_numberError")

    let passwordvalue=document.getElementById("exampleInputPassword1").value.trim();
    let errorPasswordElement=document.getElementById("idPasswordError")

    let cpasswordvalue=document.getElementById("exampleInputCPassword1").value.trim();
    let errorCpasswordElement=document.getElementById("idCpasswordError")

    if(firstnamevalue==""){
      errorEmailElement.textContent="please enter your firstname";
      errorfirstnameElement.style.color="red";
      isFormValid=false;
    }

    if(lastnamenamevalue==""){
      errorFirstnameElement.textContent="please enter your last name";
      errorlastnameElement.style.color="red";
      isFormValid=false;
    }

    if(emailvalue==""){
      errorLastnameElement.textContent="please enter your email";
      erroremailElement.style.color="red";
      isFormValid=false;
    }

    if(phone_numbervalue==""){
      errorphone_numberElement.textContent="please enter your phone_number";
      errorphone_numberElement.style.color="red";
      isFormValid=false;
    }

    if(passwordvalue==""){
      errorPasswordElement.textContent="please enter your password";
      errorPasswordElement.style.color="red";
      isFormValid=false;
    }

    if(cpasswordvalue==""){
      errorCpasswordElement.textContent="please enter your confirm password";
      errorCpasswordElement.style.color="red";
      isFormValid=false:
        
        let form= event.target;
        if(isFormValid){
            form.submit()
        }
    }
</script>

{% endblock %}
